header.l-header

  nav.l-navi.only-sp
    ul.l-navi__list
      li.l-navi__item
        button.l-navi__button.js-lc--openModal(
            aria-controls="modalLangCurrency"
            aria-haspopup="true"
          )
          i.l-navi__icon.lc-icon--globe
          span.l-navi__label 简体中文 / CNY
  nav.l-navi
    ul.l-navi__list
      li.l-navi__item.only-pc
        button.l-navi__button.js-lc--openModal(
            type="button"
            aria-controls="modalLangCurrency"
            aria-haspopup="true"
          )
          i.l-navi__icon.lc-icon--globe
          span.l-navi__label 简体中文 / CNY
      li.l-navi__item
        - if (isAuthorized)
          a.l-navi__button(href="/ec/consumer/history/")
            i.l-navi__icon.lc-icon--user
            span.l-navi__label 我的帳戶
        - else
          a.l-navi__button(href="/auth/login/")
            i.l-navi__icon.lc-icon--user
            span.l-navi__label 登入

.lc-modal#modalLangCurrency
  .lc-modal__bg.js-lc--closeModal
  .lc-modal__body
    h3.lc-modal__title 语言・币种设置
    dl.lc-selectModalSettings
      .lc-selectModalSettings__item
        dt.lc-selectModalSettings__label 语言
        dd.lc-selectModalSettings__detail
          .lc-selectBox
            select.lc-selectBox__select.js-lc--selectLanguage
              option(value="1") 簡体中文
      .lc-selectModalSettings__item
        dt.lc-selectModalSettings__label 币种
        dd.lc-selectModalSettings__detail
          .lc-selectBox
            select.lc-selectBox__select.js-lc--selectCurrency
              option(value="1") CNY
    p.lc-modal__buttons
      button(type="button").lc-button--submit.js-lc--changeLangCurrency
        span.lc-button__label 保存更改
        i.lc-button__icon.lc-icon--check
      button(type="button").lc-button--cancel.js-lc--closeModal
        i.lc-button__icon.lc-icon--close
        span.lc-button__label 取消
  script.
    $(function () {
      $('.js-lc--changeLangCurrency').on('click', function () {
        var language = $('.js-lc--selectLanguage').val();
        var currency = $('.js-lc--selectCurrency').val();
        location.reload();
      })
    });

